<section data-ng-controller="AboutController">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body main-content">
                    <h2>Made at HackDuke 2013 by David Hernandez.</h2>
                    <a href="https://github.com/davidamh/FoodDrive" target="_blank">
                        <h2>Find this on GitHub!</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
